*{
    box-sizing: border-box;
    padding: 4px;
    margin: 0px;
}

body{
    font-size: 17px;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.home{
    background-color: rgb(229, 231, 135);
    padding: 40px;
    text-align: center;
}

body{
    background-color: rgb(211, 235, 229);
    margin: 11px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
    padding: 5px;
}

nav{
    padding: 22px;
    background-color: rgb(26, 53, 38);
    font-size: 18px;
}
nav a{
    color: rgb(234, 238, 110);
    text-decoration: none;
}

.one{
    background-color: rgb(249, 247, 209);
    text-align: center;
}

section h1{
    text-align: center;
}

.about{
    float: left;
    margin: 8px;
}
.oabout{
    float: right;
    margin: 8px;
}

section {
    color: rgb(124, 105, 37);
}

.container 2{
    background-color: azure;
    border: 1.5px solid black;
    margin: 8px;
    padding: 11px;
}



h1{
    text-align: center;
    text-decoration: underline;
    font-family: 'Segoe UI';
    color: darkslategray;
}

h2{
    text-align: center;
    text-decoration: underline;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea
{
    width: 50%;
    margin: 7px;
    padding: 8px;
    border: 2px dotted rgb(207, 148, 148);
    border-radius: 6px;
    color: rgb(195, 46, 58);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

fieldset{
    background-color: rgb(223, 223, 222);
    margin: 7px;
    padding: 15px;
    border: 2px dotted grey;
    border-radius: 6px;
    width: 30%;
}

#email_id , #call{
    width: 38%;
}

input[type="submit"]
{
    width: 50%;
    font-family: Georgia;
    font-size:20px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    font-weight: 700;
    padding: 14px;
    text-align: center;
    background-color: rgb(197, 126, 95);
    color: rgb(190, 221, 241);
}

input[type="submit"]:hover{
    background-color: rgb(68, 195, 71);
} 

.luf{
    margin-left: 100px;
}
.luff{
    text-align: center;
}